<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infoit.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:debuggable="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".ListBookmarks"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:name=".PhotoGallery"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".DisplayEntityInfo"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.getinfoit.com"
                    android:pathPrefix="/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".QrCodeCapture"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".InfoChooser"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:label="@string/view_tag"
            android:name=".ListTags" >
        </activity>
        <activity
            android:label="@string/list_tags"
            android:name="ListTags" >
        </activity>
        <activity
            android:label="@string/infoit"
            android:name="RealEstateTag"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:label="Tag Application"
            android:name="com.infoit.reader.activity.TagApplication"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>